<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href='./logout'>wyloguj</a>

<h1>Witaj użytkowniku z id: {{id}}</h1>

<h2>Co chcesz teraz zrobić?</h2>

<ul>
    <li><a href="./buycredit">Złożyć zamówienie</a></li>
    <li><a href="./orderlist">Sprawdzić listę zamówień</a></li>
    <li><a href="./editpayer">Zmienić domyślne dane płatnika</a></li>
    <li><a href="./checkbalance">Sprawdzić stan konta</a></li>
    <li><a href="./edituserdata">Zmienić hasło / email</a></li>

</ul>



</body>
</html>